# htaccess pour acceder au fichier de front office
# via une URL propre
# http://www.scriptol.fr/wordpress/redirection.php
# http://amandine.aupetit.info/135/

RewriteEngine on
# RewriteRule ^archive-([a-z0-9]+)\.html$  index.php?organisme=$1  [L]
#
# cf http://www.expreg.com/memo.php
# QSA permet de garder les paramètres GET

# on exclue les dossiers integration, admin
#RewriteRule ^integration - [L,NC]
#RewriteRule ^admin - [L,NC]


# file
RewriteCond %{REQUEST_FILENAME} !-f
# directory
RewriteCond %{REQUEST_FILENAME} !-d
# symlink
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(evenement|picasso|ceri|)(.+)$ index.php?organisme=$1&url=$2 [QSA,L]



# OLD
# RewriteRule ^(evenement)\/?$ index.php?organisme=$1 [QSA,L]
# RewriteRule ^(picasso)\/?$ index.php?organisme=$1 [QSA,L]
# RewriteRule ^(ceri)\/?$ index.php?organisme=$1 [QSA,L]
